In [6]:
import pandas as pd
from univariate import univar
import numpy as np

#obj= univar
dataset = pd.read_csv("Placement.csv")

In [7]:
quan, qual = univar.quanqual(dataset)

In [8]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [9]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

#Central Tendency concept starts here

In [10]:
dataset["ssc_p"].mean()

67.30339534883721

In [11]:
dataset["ssc_p"].median()

67.0

In [12]:
dataset["ssc_p"].mode()[0]

62.0

In [13]:
#create empty table and assigning the table in variable called descriptive
descriptive = pd.DataFrame()

In [14]:
descriptive

Empty DataFrame
Columns: []
Index: []

In [15]:
#index is first columns in each rows
#columns is columns (we are passing quantitaive columns from the previous function)
#np.nan is used here to avoid error due to empty value NaN. it will accept the blank values
descriptive = pd.DataFrame(np.nan,index = ["Mean", "Median", "Mode"], columns = quan)

In [16]:
descriptive

        sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p  salary
Mean      NaN    NaN    NaN       NaN      NaN    NaN     NaN
Median    NaN    NaN    NaN       NaN      NaN    NaN     NaN
Mode      NaN    NaN    NaN       NaN      NaN    NaN     NaN

In [17]:
#Accessing and assigning a value to cell
#Colum & Row format
descriptive["hsc_p"]["Median"]=0
descriptive

        sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p  salary
Mean      NaN    NaN    NaN       NaN      NaN    NaN     NaN
Median    NaN    NaN    0.0       NaN      NaN    NaN     NaN
Mode      NaN    NaN    NaN       NaN      NaN    NaN     NaN

In [18]:
descriptive = pd.DataFrame(np.nan,index = ["Mean", "Median", "Mode", "Q1:25%", "Q2:50%", "Q3:75%","Q4:100%"], columns = quan)
for colname in quan:
    descriptive[colname]["Mean"]= dataset[colname].mean()
    descriptive[colname]["Median"]= dataset[colname].median()
    descriptive[colname]["Mode"]= dataset[colname].mode()[0]
    descriptive[colname]["Q1:25%"] = np.percentile(dataset[colname],25)
    descriptive[colname]["Q2:50%"] = np.percentile(dataset[colname],50)
    descriptive[colname]["Q3:75%"] = np.percentile(dataset[colname],75)
    descriptive[colname]["Q4:100%"] = np.percentile(dataset[colname],100)
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
Mode,1.0,62.000000,63.000000,65.000000,60.000000,56.700000,300000.000000
Q1:25%,54.5,60.600000,60.900000,61.000000,60.000000,57.945000,NaN
Q2:50%,108.0,67.000000,65.000000,66.000000,71.000000,62.000000,NaN
Q3:75%,161.5,75.700000,73.000000,72.000000,83.500000,66.255000,NaN
Q4:100%,215.0,89.400000,97.700000,91.000000,98.000000,77.890000,NaN

In [21]:
#since we have NAN value in salary we can take values from table below.
dataset.describe()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type